@model IEnumerable<GearShop.Models.Cart>

@{
	ViewData["Title"] = "Cart";
}

<!-- Cart Start -->
<div class="container-fluid">
	<div class="row px-xl-5">
		<div id="_itemCartPartial" class="col-lg-9 table-responsive mb-5">
			<partial name="_itemCartPartial" model="Model" />
		</div>
		<div class="col-lg-3">
			<form class="mb-30" asp-action="ApplyCoupon" asp-controller="CustomerCarts" method="post">
				<div class="input-group">
					<input required name="code" type="text" class="form-control border-0 p-4" placeholder="Mã giảm giá">
					<div class="input-group-append">
						<button type="submit" class="btn btn-primary">Áp dụng</button>
					</div>
				</div>
			</form>
			<h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Thanh toán</span></h5>
			<!-- Payment method -->
			<form method="post" asp-action="CreatePayment" asp-controller="payment" class="bg-light p-30 mb-5">
				<div id="selectedCartInputs"></div>
				<input name="code" type="text" hidden value="@ViewBag.Code" />
				<div class="border-bottom pb-2">
					<div class="d-flex justify-content-between mb-3">
						<h6>Ước tính</h6>
						<h6 id="selectedTotal1">0đ</h6>
					</div>
					<div class="d-flex justify-content-between">
						<h6 class="font-weight-medium">Đã giảm</h6>
						<h6 class="font-weight-medium">@(ViewBag.coupon != 0 ? $"{ViewBag.coupon}%" : "không áp dụng")</h6>
					</div>
				</div>
				<div class="pt-2">
					<div class="d-flex justify-content-between mt-2">
						<h5>Tổng cộng</h5>
						<h5 id="selectedTotal">0đ</h5>
					</div>
					<button type="submit" class="btn btn-block btn-primary font-weight-bold my-3 py-3">Thanh toán qua VNPAY</button>
				</div>
			</form>

		</div>
	</div>
</div>
<!-- Cart End -->
<script>
			function calculateSelectedTotal() {
		let total = 0;
		let discount = @(ViewBag.coupon != null ? ViewBag.coupon : 0);

		$('tbody input[name="productId"]:checked').each(function () {
			const row = $(this).closest('tr');
			const quantity = parseInt(row.find('.quantity-input').val());
			const priceText = row.find('td:nth-child(5)').text().replace(/[^\d]/g, '');
			const price = parseInt(priceText);
			if (!isNaN(price) && !isNaN(quantity)) {
				total += price * quantity;
			}
		});

		const totalAfterDiscount = total - (total * discount / 100);

		$('#selectedTotal').text(totalAfterDiscount.toLocaleString('vi-VN') + '₫');
		$('#selectedTotal1').text(total.toLocaleString('vi-VN') + '₫');
	}


</script>



